# Server Secrets ---------------------------------------------------------------
SECRET_KEY=
ENCRYPTY_KEY=
ALGORITHM="HS256"

# DB Connection ----------------------------------------------------------------
MONGO_URL=

# Admin Default Data (used to fill in first admin user) ------------------------
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_CPF=
DEFAULT_ADMIN_PASSWORD=

# Ollama Config ----------------------------------------------------------------
OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL=medgemma-q6-limitado

# either "mock", "local" or "cloud"
# "mock": runs mock routes for development purposes.
# "local": runs model locally. That means it is installed automatically and used.
# "cloud": runs requests to an API serving the desired model. Needs the CLOUD_MODEL_URL to be set.
USE_MODEL=

# Optional. Needed if USE_MODEL=cloud.
CLOUD_MODEL_URL=