.msg
{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1vw;
    top: 1vw;
    width: fit-content;
    animation: msg_anim 500ms forwards;
    z-index: 5 !important;
}

@keyframes msg_anim {
    0%
    {
        margin-right: -100vw;
    }
    100%
    {
        margin-right: 0;
    }
    
}

.msg_icon
{
    background-color: rgba(0, 0, 0, 0.205);
    width: 100%;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.msg_content
{
    padding: 0.5em;
}